# Python
backend/venv/
backend/__pycache__/
backend/**/*.pyc
backend/*.db
backend/*.log
backend/.env
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# IDEs and OS
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
